
/* forms
   ========================================================================== */

/* forms items */

form, fieldset, legend {
	margin: 0;
	padding: 0;
	border: none;
}
input, select, textarea, button, .btn {
	margin: 0;
	padding: .8em;
	border: none;
	vertical-align: top;
	text-transform: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: #666;
	border-radius: 2px;
}
input, select, textarea {
	box-shadow: inset 0 0 0 4px rgba(255,204,0,0);
	transition: box-shadow .2s ease;
}
input:focus, select:focus, textarea:focus,
input:active, select:focus, textarea:active {
	outline: none;
	box-shadow: inset 0 0 0 4px rgba(255,204,0,1);
}
label {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
textarea {
	min-height: 8em;
	overflow: auto;
	resize: vertical;
}
select {
	-webkit-appearance: menulist-button;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
::-webkit-input-placeholder {
	font-style: italic;
	color: #999;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
	font-style: italic;
	color: #999;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration {
	display: none;
}

/* forms buttons */

button, .btn {
	overflow: visible;
	background: #fc0;
	font-family: Bitter, Georgia, serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #333;
	cursor: pointer;
	-webkit-appearance: button;
	transition: background .2s ease;
}
button:hover, .btn:hover,
button:focus, .btn:focus,
button:active, .btn:active {
	background: #ffd119;
}
button:focus, .btn:focus {
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

/* forms btn icons */

.btn {
	display: inline-block;
	position: relative;
}
.btn::before {
	position: absolute;
	top: 50%;
	margin-left: -1.12em;
	font-size: 3.2rem;
	color: #fff;
	opacity: 0;
	transform: scale3d(2,2,2);
	transition: all .2s ease;
}
.btn__label {
	display: inline-block;
	transition: all .2s ease;
}
.btn:hover::before, .btn:focus::before, .btn:active::before {
	opacity: 1;
	transform: scale3d(1,1,1);
	transition-delay: .2s;
}
.btn:hover .btn__label, .btn:focus .btn__label, .btn:active .btn__label {
	transform: translate3d(.8em,0,0);
}
