
/* rollovers
   ========================================================================== */

/* default rollover */

.rollover {
	position: relative;
	display: block;
	text-decoration: none;
}

/* rollover icon */

.rollover::before, .rollover::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: all .2s ease;
}
.rollover::before {
	z-index: 1;
	width: 6.4rem;
	height: 6.4rem;
	margin: auto;
	text-align: center;
	font-size: 1.6em;
	line-height: 2;
	color: #fff;
	border-radius: 50%;
	box-shadow: inset 0 0 0 4px #fff;
	transform: scale3d(1.2,1.2,1);
}

/* rollover mask */

.rollover::after {
	content: "";
	background: rgba(48,57,71,.25);
}

/* rollover active */

.rollover:hover::before, .rollover:focus::before, .rollover:active::before,
.rollover:hover::after, .rollover:focus::after, .rollover:active::after {
	opacity: 1;
}
.rollover:hover::before, .rollover:focus::before, .rollover:active::before {
	transform: scale3d(1,1,1);
}
